<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>消息</title>
	<script src="https://cdn.staticfile.org/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.19.0-beta.1/axios.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
	.container{
		width: 1200px;
		margin-top: 10px;
	}
	.avatar{
        width: 50px;
        height: 50px;
        /*border-radius: 25px;*/
        margin-right: 10px;
    }
    .breadcrumb{
        padding: 15px;
        margin-bottom: 0px;
    }
    .navbar-right{
        margin-right: 10px;
    }
    .navbar,.hot{
        font-size: 17px;
    }
    .reply{
		font-size: 20px;
    }
    .replyTime{
    	margin-top: 5px;
    }
	/*.replyAvatar{
		height: 
	}*/
	.username{
		text-overflow:ellipsis; 
		overflow:hidden;
		white-space: nowrap;
		max-width: 100px;
		float: left;
		margin-right: 10px;
		/*font-size:17px;*/
		font-weight: 800;
	}
	.content{
		text-overflow:ellipsis; 
		overflow:hidden;
		white-space: nowrap;
		margin-top: 10px
	}
	.replyList{
		margin-top: 20px;
	}
	.toolbar{
		margin-top: 10px;
	}
	hr{
		margin-top: 25px;
		border-color: #E5E9EF;
	}
	.replyTime{
		font-size: 13px;
	}
	.replyAvatar{
		width: 60px;
		height: 60px;
	}
	.toolbar a{
		margin-left: 20px;
	}
	.replyTarget{
		/*text-overflow:ellipsis; */
		overflow:hidden;
		/*white-space: nowrap;*/
		height: 80px;
	}
	.load{
		margin-bottom: 100px;
	}
</style>
</head>
<body>
	<div id="app" class="container" v-show="user">
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ol class="breadcrumb">
  <li><a href="/index.html">主页</a></li>
</ol>
    </div>


 <div class="collapse navbar-collapse" id="navbar" >

      <ul class="nav navbar-nav navbar-right"v-if="user">
        <li><img :src="'/avatar/'+user.avatar" class="avatar"></li>
  
        <li class="dropdown" >
            

          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.username}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/account">个人中心</a></li>
            <li><a href="javascript:void(0)">没有功能</a></li>
            <li><a href="javascript:void(0)">没有功能</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/replyme">消息</a></li>
          </ul>
        </li>
         <li><a href="/replyme">消息 <span class="badge">{{user.msgCount==0?"":user.msgCount}}</span></a></li>
        <li><a href="javascript:void(0)" @click="logout">退出</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" v-if="!user">
        <li> <a type="button" href="page/signin.html">登录</a></li>
        <li><a type="button" href="page/signup.html">注册</a></li>
     
      
       </ul>
    </div>
  </div>
</nav>

<div class="col-xs-9">
	<div class="col-xs-12">
		<span>未读消息</span>
		<a href="javascript:void(0)" @click="markread">全部标记为已读</a>
	</div>
	<div class="col-xs-12 replyList" v-if="replyList" v-for="item in replyList">

			<div class="col-xs-1 ">
				<img :src="'../avatar/'+item.avatar" class="replyAvatar">
			</div>
			<div class="col-xs-9">

			<div class="col-xs-12" :title="item.username">
				<a href="" class="username">{{item.username}}</a>
				对你的{{item.type}}发表了回复<span class="badge">未读</span>
			</div>
			<div class="col-xs-12 content"><a href="javascript:void(0)" @click="read(item.replyId,item.threadId)">{{item.content}}</a></div>
			<div class="col-xs-12 toolbar">
				<span class="replyTime">{{item.replyTime}}</span>
				<a href="javascript:void(0)" @click="deleteReplyMe(item.replyId,0)" >删除</a>
				<a href="javascript:void(0)">回复</a>
			</div>
			</div>
			<div class="col-xs-2 replyTarget">{{item.replyTarget}}</div>
			<hr class="col-xs-11 col-xs-offset-1">
		</div>




		<div class="col-xs-12 text-center h3" v-if="!replyList">没有未读消息</div>
		<hr class="col-xs-12" style="background-color: #A1A1A1;">
		<button class="btn btn-default col-xs-12 load" @click="getHistory" v-if="!historyStatus">加载所有回复</button>

		
<div class="col-xs-12 replyList" v-if="historyStatus" >

		<div v-for="item in history">
			<div class="col-xs-1 ">
				<img :src="'../avatar/'+item.avatar" class="replyAvatar">
			</div>
			<div class="col-xs-9">
			<div class="col-xs-12" :title="item.username">
				<a href="" class="username">{{item.username}}</a>
				对你的{{item.type}}发表了回复
			</div>
			<div class="col-xs-12 content"><a href="javascript:void(0)" @click="read(item.replyId,item.threadId)">{{item.content}}</a></div>
			<div class="col-xs-12 toolbar">
				<span class="replyTime">{{item.replyTime}}</span>
				<a href="javascript:void(0)"@click="deleteReplyMe(item.replyId,1)" >删除</a>
				<a href="javascript:void(0)">回复</a>
			</div>
			</div>
			<div class="col-xs-2 replyTarget">{{item.replyTarget}}</div>
			<hr class="col-xs-11 col-xs-offset-1">
		</div>
		<div class="col-xs-12 text-center h3" v-if="!history">
					没有历史消息
		</div>
		</div>


			
</div>

		
		<div class="col-xs-3 h3" >
			<div class=""v-for="item in 10" style="padding-top: 50px;" >
				<div class="col-xs-2" >
					<div>{{item}}</div>
				</div>
				<div class="col-xs-10">
					--------------
				</div>
			</div>
		</div>
	</div>
</body>
<script>

	    axios.interceptors.response.use(result=> {
        return result
    }, error=> {

        if(error.response.status==404){
            window.location.href="/404"
        }if(error.response.status==401){
            window.location.href="/signin"
        }else{
            vm.msg=error.response.data.msg
        }

        return Promise.resolve(error);
    })
    axios.defaults.baseURL = 'http://192.168.2.234/bbs'
    var vm = new Vue({
        el: "#app",
        data: {
        	user:"",
        	reply:"",
        	replyList:"",
        	history:"",
        	historyStatus:false
        },
        mounted(){
        	this.get()
        	this.getUser()
        	// this.test();
        },
        methods: {
        	getUser(){
        		axios.get("/user").then(result=>{
        			this.user=result.data.data
        		})
        	},
            get() {
                axios.get("/replyMe",{
                	headers: {'status': 'unread'}
                }).then(result=>{
                	this.replyList=result.data.data
                	console.log(result)
                })
            },
            read(replyId,threadId){
            	axios.put("/replyMe/"+replyId).then(result=>{
            		window.open("/thread/"+threadId+"#"+replyId)
            	})
            },
            markread(replyId){
				axios.put("/replyMe").then(result=>{
            		this.replyList=""
            	})
            },
            deleteReplyMe(replyId,type){
            	if(confirm("是否删除该回复")){
            		axios.delete("/replyMe/"+replyId).then(result=>{
            			if(type==0){
            				this.get()
            			}else if(type==1){
            				this.getHistory()
            			}
            		})
            	}
            		
            },
            getHistory(){
            	axios.get("/replyMe",{
                	headers: {'status': 'history'}
                }).then(result=>{
                	console.log(result)
                	this.history=result.data.data
            	})
            	this.historyStatus=true
            },
            logout(){
            	axios.get("/logout", {
                }).then(result => {
                	window.location.href="../"
            })
            }
           
        }
    })
</script>
</html>